{% extends "base.html" %}
{% block content %}
    <div class="d-flex justify-content-center align-items-center">
        <form class="card p-3 bg-light" method="post" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">Username</label>
                <input type="text" class="form-control" required id="id_username"
                    name="username">
            </div>
            <div class="form-group">
                <label for="id_email">Email address</label>
                <input type="email" class="form-control" required id="id_email" name="email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="id_password1">Password</label>
                <input type="password" class="form-control" required id="id_password1" name="password1">
            </div>
            <div class="form-group">
                <label for="id_password2">Re-enter Password</label>
                <input type="password" class="form-control" required id="id_password2" name="password2">
            </div>
            <br />

            <div class="alert alert-warning" role="alert">
                {% for error in form.errors.values %}
                {{error}}
                {% endfor %}
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Submit</button>
            <hr>
            <div class="text-center">
                <p>Already a member? <a href={% url "login" %}>Login</a></p>
            </div>
        </form>
    </div>

{% endblock %}